@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Raleway", sans-serif;
}

:root {
  /* (intro and email sign up background) */
  --Dark-Blue: hsl(217, 28%, 15%);
  /* (main background) */
  --Dark-Blue-1: hsl(218, 28%, 13%);
  /* (footer background) */
  --Dark-Blue-2: hsl(216, 53%, 9%);
  /* (testimonials background) */
  --Dark-Blue-3: hsl(219, 30%, 18%);

  /* (inside call-to-action gradient) */
  --Cyan: hsl(176, 68%, 64%);
  /* (inside call-to-action gradient) */
  --Blue: hsl(198, 60%, 50%);
  /* (error) */
  --Light-Red: hsl(0, 100%, 63%);

  --White: hsl(0, 0%, 100%);
}

body {
  height: 100vh;
  font-weight: 400 800;
  font-family: "Open Sans", "Raleway", sans-serif;
}

main {
  min-height: 100vh;
  background-color: var(--Dark-Blue);
}

/* ----------------NAV START---------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 4%;
}

.logo {
  width: 100px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #ccc;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

nav ul li a:hover {
  text-decoration: underline;
  color: var(--White);
}

.maincontent {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./images/bg-curvy-desktop.svg");
  background-size: 100% 52%;
  background-position: bottom -5% right 10px;
  background-repeat: no-repeat;
}

.bgImage {
  display: block;
  margin: 0px auto 10px;
  width: 400px;
}

.getStarted {
  text-align: center;
}

.title {
  color: var(--White);
  max-width: 450px;
  margin: 20px auto;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 35px;
  padding-top: 20px;
}

.title-info {
  color: var(--White);
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  max-width: 420px;
  margin: 0 auto 25px;
  line-height: 20px;
}

.start-btn {
  padding: 9px 57px;
  background-color: var(--Blue);
  color: var(--White);
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  transition: 0.5s;
}

.start-btn:hover {
  background-color: var(--Cyan);
}

.featuresFrame {
  background-color: var(--Dark-Blue-1);
}
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: flex-start;
  width: 60%;
  gap: 40px;
  margin: auto;
}

.features-content {
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: 0 auto 40px;
}

.features-content img {
  width: 50px;
  margin-bottom: 30px;
}

.sub-title {
  color: var(--White);
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
  font-size: 18px;
}

.features-content p {
  font-size: 14px;
  color: var(--White);
  max-width: 380px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin: auto;
  line-height: 20px;
}

.row {
  display: flex;
  background-color: var(--Dark-Blue-1);
  padding: 30px 70px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  justify-content: center;
}

.col1 {
  flex-basis: 50%;
  color: var(--White);
  padding-left: 40px;
}

.productiveImg {
  display: block;
  text-align: right;
}

.col1 h2 {
  font-family: "Raleway", sans-serif;
  max-width: 200px;
  margin-bottom: 30px;
  line-height: 30px;
}

.col1 p {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  max-width: 450px;
  line-height: 25px;
  margin-bottom: 15px;
}

.col1 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--Cyan);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.col1 a img {
  margin-left: 6px;
}

.col1 a:hover {
  text-decoration: underline;
  color: var(--White);
}

/* ------------------Testimonials---------------- */

.testimonials {
  background-color: var(--Dark-Blue-1);
  display: flex;
  position: relative;
  padding: 70px 9% 300px;
}

.quoteImg {
  position: absolute;
  left: 150px;
}

.test1 {
  background-color: var(--Dark-Blue-3);
  margin: 20px;
  padding: 30px 20px 15px;
  z-index: 2;
  border-radius: 10px;
  color: var(--White);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.test1 p {
  font-family: "Raleway", sans-serif;
}

.userInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.test1Text {
  margin-bottom: 20px;
}

.userInfo h3 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.userInfo p {
  font-size: 12px;
  margin-top: 5px;
}

.profileImg {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  background-color: var(--Dark-Blue-2);
  position: relative;
}

.getSignedUp {
  background-color: var(--Dark-Blue-3);
  width: 650px;
  margin-top: -70px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.getSignedUp h2 {
  color: var(--White);
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
}

.getSignedUp p {
  font-size: 12px;
  color: var(--White);
  font-family: "Raleway", sans-serif;
  margin: 20px auto;
}

.subscribe input {
  width: 350px;
  padding: 12px 18px;
  border-radius: 24px;
  outline: none;
  border: 0;
  margin-right: 10px;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: var(--Dark-Blue);
}

.subscribe-btn {
  padding: 13px 37px;
  background-color: var(--Blue);
  color: var(--White);
  border: 0;
  outline: 0;
  font-size: 12px;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  transition: 0.5s;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: var(--Cyan);
}

#emailError {
  font-size: 10px;
  text-align: left;
  margin-left: 40px;
  margin-top: 5px;
}
/* -------------------footer-info----------------------- */

.footer-info {
  padding: 0 8%;
}

.footer-info a {
  text-decoration: none;
  color: var(--White);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.footerLogo {
  margin-top: 140px;
  margin-bottom: 50px;
  width: 100px;
}

.footer-info-frame {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.leftFooter,
.rightFooter {
  display: flex;
  flex-basis: 46%;
  justify-content: space-between;
  align-items: flex-start;
}

.address {
  display: flex;
  align-items: flex-start;
}

.addressInfo {
  max-width: 300px;
  color: var(--White);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.locationImg {
  margin-right: 20px;
}

.phoneAddress ul li a img {
  width: 12px;
  margin-right: 15px;
}

.footer-info ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.rightFooter {
  padding-left: 30px;
}

.left-contacts ul li a:hover {
  font-weight: 800;
  font-size: 13px;
}

.socialIcons {
  display: flex;
  align-items: flex-start;
}

.footer-info span {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

.footer-info span:hover {
  color: var(--Cyan);
  border-color: var(--Cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  color: var(--White);
}

@media (max-width: 375px) {
  nav {
    padding: 10px 4%;
  }
  .logo {
    width: 70px;
  }

  nav ul li {
    margin-left: 12px;
  }

  nav ul li a {
    font-size: 12px;
  }
  main {
    padding: 20px;
  }

  .maincontent {
    padding: 0;
    min-height: unset;
    background-image: url(./images/bg-curvy-mobile.svg);
  }

  .getStarted {
    width: 100%;
    padding: 0;
  }

  .title-info {
    font-size: 13px;
    max-width: 270px;
  }
  .bgImage {
    width: 200px;
    margin-top: 20px;
  }

  .title {
    font-size: 22px;
    max-width: 300px;
    line-height: 30px;
  }
  .featuresFrame {
    padding: 100px 10px;
  }

  .features {
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
  }

  .features-content {
    width: 100%;
  }

  .sub-title {
    font-size: 18px;
    max-width: 370px;
  }

  .row {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .col1 {
    width: 100%;
    padding: 0;
  }

  .col1 h2 {
    font-size: 18px;
    max-width: 400px;
    margin-top: 30px;
  }

  .col1 p {
    font-size: 14px;
    max-width: 320px;
  }

  .col1 a {
    font-size: 12px;
    margin-bottom: 40px;
  }
  .col1 a img {
    width: 12px;
  }

  .productiveImg {
    width: 270px;
    margin: auto;
  }

  .testimonials {
    flex-direction: column;
    padding: 50px 20px 150px;

    background-color: var(--Dark-Blue-1);
  }

  .test1 {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
  }

  .test1Text {
    max-width: 300px;
    font-size: 12px;
  }

  .quoteImg {
    left: 15px;
    margin-top: 8px;
    width: 20px;
  }

  .userInfo h3 {
    font-size: 14px;
  }
  .userInfo p {
    font-size: 10px;
  }

  footer {
    width: 100%;
  }
  .getSignedUp {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -70px;
  }

  .addressInfo {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 10px;
  }

  .subscribe input {
    width: 100%;
    margin-bottom: 18px;
    padding: 14px;
  }

  .subscribe-btn {
    padding: 15px;
  }

  #emailError {
    margin-top: -60px;
  }
  .footer-info {
    padding: 0;
  }

  .footer-info .footerLogo {
    margin-top: 350px;
    width: 180px;
    margin-left: 15px;
  }
  .footer-info-frame {
    flex-direction: column;
  }

  .leftFooter,
  .rightFooter {
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0;
  }

  .left-contacts {
    margin-bottom: 20px;
  }

  .phoneAddress ul li a,
  .left-contacts ul li a {
    font-size: 17px;
    font-weight: 400;
  }
  .socialIcons {
    margin: auto;
  }

  .attribution {
    margin: auto;
    width: 100%;
  }
}
